h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

p { 
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

nav  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 400px;
    
}
nav > a {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 8px 0px;
    background-color: #ae3434;
    color: white;
    box-sizing: border-box;
    flex: 1;
}

nav > a:hover {
    background-color: #ae5656;
}